.content {
	margin: 20px;
	border: 1px solid #999;
	background-color: #eee;
	overflow: hidden;
}
.left {
	width: 160px;
	float: left;
	border: 1px solid #999;
}
.left img {
	margin-right: 2px;
	vertical-align: top;
}
.right {
	width: 80px;
	float: right;
	border: 1px solid #999;
}
.right img {
	display: block;
	margin-top: 20px;
}
.right :first-child {
	margin-top: 0px;
}
.middle {
	width: auto;
	margin-left: 225px;
	margin-right: 145px;
	border: 1px solid #999;
}
.middle p {
	text-indent: 2em;
}
.title {
	vertical-align: top;
	display: inline;
}
div {
	padding: 20px;
}
div>div {
	background-color: #fff;
}
img {
	width: 80px;
	height: 80px;
}

